/*CSS Reset*/
body, div, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, table, tr, td, th, button, input, select, textarea {
  margin: 0;
  padding: 0; }

img {
  display: block;
  border: none;
  vertical-align: middle; }

ol, ul {
  list-style: none; }

button, input, select, textarea {
  font-size: 100%;
  outline: none; }

input, select, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 1px solid #ddd; }

/*textarea{resize:none;}*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px; }

em, i, strong, b {
  font-style: normal;
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

/*table td,table th{ border:1px solid #ddd;}*/
table th {
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

[role="button"] {
  cursor: pointer; }

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 20px 'HuaweiSans','Microsoft YaHei',SimHei;
  color: #363636;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none !important;
  outline: none !important; }

a:hover {
  text-decoration: none !important; }

:after, :before, *::before, *::after {
  box-sizing: border-box; }

/*box setting*/
.w {
  width: 100%; }

.h {
  height: 100%; }

.wh {
  width: 100%;
  height: 100%; }

.db {
  display: block; }

.dl {
  display: inline-block; }

.hide {
  display: none; }

.hidden {
  visibility: hidden; }

/*clear and float*/
.clear::after, .row::after {
  content: "";
  display: table;
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

/*cursor*/
.cursor {
  cursor: pointer; }

/*position*/
.pr {
  position: relative; }

.pa {
  position: absolute; }

.pf {
  position: fixed; }

.w50 {
  width: 50%; }

.h50 {
  height: 50%; }

/*text setting*/
.giveMeEllipsis {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.t-right {
  text-align: right; }

.t-normal {
  font-weight: normal; }

.t-weight {
  font-weight: 700; }

.t-weightM {
  font-weight: 400; }
@charset "UTF-8";
@font-face {
  font-family: "TTTGB";
  src: url(//cdn.m.tencent.com/hr/h5/2019/819/static/fonts/TTTGB.ttf); }

/*@font-face {
  font-family: "SOURCEHANSANSCN-REGULAR_0";
  src: url('./../fonts/SOURCEHANSANSCN-REGULAR_0.ttf');
}
.SOURCEHANSANSCN{
  font-family: "SOURCEHANSANSCN-REGULAR_0";
}*/
.TTTGB {
  font-family: "TTTGB"; }

.gl-border {
  border: 0px solid red; }

.gl-hide {
  display: none !important; }

.gl-show {
  display: block !important; }

body {
  max-width: 10rem;
  margin: auto;
  font-family: "TTTGB";
  background-color: #fff;
  background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/bg2.png);
  background-size: 100% auto;
  background-position: center center; }

/**禁止选择文字**/
.no-touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.gl-pass-box {
  position: absolute;
  width: 10rem;
  height: 96%;
  top: 2%; }
  .gl-pass-box .top-pic {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 2.25333rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_box1.png);
    background-size: 100% 100%; }
    .gl-pass-box .top-pic:after {
      content: '';
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      height: 400%;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_box2.png);
      background-size: 100% 100%; }
    .gl-pass-box .top-pic:before {
      content: '';
      position: absolute;
      left: 0.29333rem;
      top: 0.02667rem;
      width: 1.6rem;
      height: 1.68rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/light.gif);
      background-size: 100% 100%; }
  .gl-pass-box .bottom-pic {
    position: absolute;
    bottom: 1.8rem;
    right: 0;
    margin: auto;
    width: 100%;
    height: 2.25333rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_box3.png);
    background-size: 100% 100%; }
    .gl-pass-box .bottom-pic:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 100%;
      height: 400%;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_box2.png);
      background-size: 100% 100%; }
  .gl-pass-box .gl-people {
    position: absolute;
    right: 0.10667rem;
    top: 0.08rem;
    width: 2.16rem;
    height: 1.97333rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_people.gif);
    background-size: 100% 100%;
    background-position: center center; }
  .gl-pass-box .gl-penguin {
    position: absolute;
    left: 1.86667rem;
    bottom: 3.14667rem;
    width: 4.96rem;
    height: 0.78667rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_penguin.png);
    background-size: 100% 100%; }
  .gl-pass-box .gl-btn {
    position: absolute;
    height: 0.77333rem;
    background-size: 100% 100%;
    bottom: 1.86667rem;
    text-align: center;
    color: #fff;
    padding-top: 0.10667rem;
    font-size: 0.32rem; }
    .gl-pass-box .gl-btn.gl-btn-pre {
      left: 1.36rem;
      width: 1.76rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_btn_1.png); }
      .gl-pass-box .gl-btn.gl-btn-pre:active {
        width: 1.68rem;
        height: 0.66667rem; }
    .gl-pass-box .gl-btn.gl-btn-notice {
      left: 3.30667rem;
      width: 1.64rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_btn_2.png); }
      .gl-pass-box .gl-btn.gl-btn-notice:active {
        width: 1.56rem;
        height: 0.66667rem; }
    .gl-pass-box .gl-btn.gl-btn-skip {
      left: 5.2rem;
      width: 3.25333rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_btn_3.png); }
      .gl-pass-box .gl-btn.gl-btn-skip span {
        color: #FDEE1E; }
      .gl-pass-box .gl-btn.gl-btn-skip:active {
        width: 3.17333rem;
        height: 0.66667rem; }
  .gl-pass-box .gl-no {
    position: absolute;
    width: 2.74667rem;
    height: 0.8rem;
    line-height: 0.8rem;
    top: 0.73333rem;
    left: 1rem;
    color: #fff;
    text-align: center;
    font-size: 0.45333rem !important; }
  .gl-pass-box .gl-subject {
    color: #0059BA;
    font-size: 0.4rem;
    padding-right: 0.6rem; }
  .gl-pass-box .gl-body-content {
    position: absolute;
    width: 100%;
    height: 8.4rem;
    left: 0;
    padding-left: 0.66667rem;
    top: 2.66667rem;
    z-index: 10; }

@-webkit-keyframes bg-animation {
  0% {
    background-position: 0 0; }
  50% {
    background-position: -2.48rem 0; }
  100% {
    background-position: -4.96rem 0; } }

@keyframes bg-animation {
  0% {
    background-position: 0 0; }
  50% {
    background-position: -2.48rem 0; }
  100% {
    background-position: -4.96rem 0; } }

/******弹框*********/
.gl-pop-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none; }

.gl-pop-wrap {
  position: absolute;
  height: 8.4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  display: none; }
  .gl-pop-wrap.success .gl-pop {
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_pop_box_succes.png); }
    .gl-pop-wrap.success .gl-pop .gl-women {
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/hr.gif); }
  .gl-pop-wrap.success .btn-list .btn-continue {
    display: none !important; }
  .gl-pop-wrap.success .btn-list .btn-replay {
    display: inline-block !important; }
  .gl-pop-wrap.success .btn-list .btn-next {
    display: inline-block !important; }
  .gl-pop-wrap .gl-pop {
    position: relative;
    width: 8.48rem;
    height: 5.36rem;
    margin: auto;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_pop_box.png);
    background-size: 100% 100%; }
    .gl-pop-wrap .gl-pop .gl-pop-light {
      position: absolute;
      right: 0;
      top: -0.4rem;
      width: 1.45333rem;
      height: 1.32rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_pop_box_light.png);
      background-size: 100% 100%; }
    .gl-pop-wrap .gl-pop .title {
      position: absolute;
      top: 0.72rem;
      color: #fff;
      width: 3.86667rem;
      height: 0.90667rem;
      font-size: 0.56rem;
      text-align: center; }
    .gl-pop-wrap .gl-pop .gl-women {
      position: absolute;
      width: 4.13333rem;
      height: 3.6rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/hr.gif);
      background-size: 100% 100%;
      right: 0;
      bottom: 0; }
    .gl-pop-wrap .gl-pop .content {
      position: absolute;
      left: 0;
      top: 2.2rem;
      width: 6.13333rem;
      color: #FFFF00;
      font-size: 0.45333rem;
      padding-left: 1.33333rem; }
      .gl-pop-wrap .gl-pop .content .tip {
        color: #fff;
        font-size: 0.24rem; }
  .gl-pop-wrap .btn-list {
    margin-top: 1rem;
    text-align: center; }
    .gl-pop-wrap .btn-list .btn {
      height: 0.98667rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 0.4rem;
      padding-top: 0.10667rem;
      margin: 0 0.46667rem; }
      .gl-pop-wrap .btn-list .btn.btn-continue {
        display: inline-block;
        width: 4.02667rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_btn_continue.png); }
        .gl-pop-wrap .btn-list .btn.btn-continue:active {
          width: 3.94667rem;
          height: 0.93333rem; }
      .gl-pop-wrap .btn-list .btn.btn-replay {
        display: inline-block;
        width: 2.32rem;
        text-align: left;
        padding-left: 0.93333rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_btn_replay.png);
        display: none; }
        .gl-pop-wrap .btn-list .btn.btn-replay:active {
          width: 2.24rem;
          height: 0.93333rem; }
      .gl-pop-wrap .btn-list .btn.btn-next {
        display: inline-block;
        width: 2.08rem;
        text-align: left;
        padding-left: 0.32rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_btn_next.png);
        display: none; }
        .gl-pop-wrap .btn-list .btn.btn-next:active {
          width: 2rem;
          height: 0.93333rem; }

.gl-pop-wrap-lucky {
  position: absolute;
  height: 7.06667rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  display: none; }
  .gl-pop-wrap-lucky.success .gl-pop .gl-women {
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_people_1.png); }
  .gl-pop-wrap-lucky.success .gl-pop .title {
    width: 6.22667rem;
    height: 1.61333rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_1.png); }
  .gl-pop-wrap-lucky.successed .gl-pop .title {
    width: 7.45333rem;
    height: 1.24rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_ed.png); }
  .gl-pop-wrap-lucky .gl-pop {
    position: relative;
    width: 8rem;
    height: 4.98667rem;
    margin: auto;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_pop.png);
    background-size: 100% 100%; }
    .gl-pop-wrap-lucky .gl-pop .btn-close {
      position: absolute;
      right: 0rem;
      top: -0.13333rem;
      width: 0.65333rem;
      height: 0.65333rem;
      margin: auto;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_close.png);
      background-size: 100% 100%;
      cursor: pointer; }
    .gl-pop-wrap-lucky .gl-pop .title {
      position: absolute;
      left: -0.26667rem;
      width: 5.36rem;
      height: 1.48rem;
      margin: auto;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_2.png);
      background-size: 100% 100%; }
    .gl-pop-wrap-lucky .gl-pop .gl-women {
      position: absolute;
      width: 4.13333rem;
      height: 3.6rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_people_2.png);
      background-size: 100% 100%;
      right: -0.93333rem;
      bottom: 0; }
    .gl-pop-wrap-lucky .gl-pop .content {
      position: absolute;
      left: 0;
      top: 1.8rem;
      width: 5.86667rem;
      color: #fff;
      font-size: 0.45333rem;
      padding-left: 1.33333rem; }
      .gl-pop-wrap-lucky .gl-pop .content .tip {
        margin-top: 0.66667rem;
        color: #fff;
        font-size: 0.24rem; }

.load-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 100;
  background-color: #fff; }
  .load-box .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .load-box .logo-loading {
    position: relative;
    height: 3.06667rem;
    width: 2.96rem; }
    .load-box .logo-loading .logo-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/loading.png);
      background-size: 100% 100%;
      z-index: 10; }
    .load-box .logo-loading .logo-loading-box {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.56rem;
      margin: auto;
      height: 1.48rem;
      width: 1.24rem; }
      .load-box .logo-loading .logo-loading-box .loading-h {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0%;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/loading_h.png);
        background-size: 100% auto;
        background-position: center bottom; }
  .load-box .load-text {
    margin-top: 0.26667rem;
    color: #0072C1;
    bottom: 0;
    text-align: center;
    font-size: 0.61333rem; }

.gl-ad-pic {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  /*.btn-close{
    position: absolute;
    width: px2rem(50);
    height: px2rem(50);
    line-height: px2rem(50);
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    right: px2rem(10);
    top: px2rem(10);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }*/ }
  .gl-ad-pic .ad-time {
    position: absolute;
    width: 1.86667rem;
    padding: 0 0.13333rem;
    height: 0.66667rem;
    line-height: 0.66667rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    right: 0.13333rem;
    top: 0.13333rem;
    border-radius: 0.33333rem;
    cursor: pointer;
    font-size: 0.4rem;
    z-index: 11; }
  .gl-ad-pic .pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-size: 100%; }
    .gl-ad-pic .pic.pic_1 {
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/ps_1.png); }
    .gl-ad-pic .pic.pic_2 {
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/ps_2.png); }
    .gl-ad-pic .pic.pic_3 {
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/ps_3.png); }

.page-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .page-wrap:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 9.78667rem;
    height: 2.36rem;
    background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/line.png);
    background-size: 100% 100%; }
  .page-wrap .pages {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .page-wrap .pages.page-home .home-box {
      position: absolute;
      width: 100%;
      height: 16rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .page-wrap .pages.page-home .logo-box {
      position: absolute;
      left: 0;
      right: 0;
      top: 0.8rem;
      margin: auto;
      width: 8.62667rem;
      height: 5.13333rem;
      background-size: 100% 100%;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/box.png); }
      .page-wrap .pages.page-home .logo-box .logo-text {
        position: absolute;
        left: 1.33333rem;
        top: 1.17333rem;
        width: 6.58667rem;
        height: 2.05333rem;
        background-size: 100% 100%;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/text.png); }
      .page-wrap .pages.page-home .logo-box .logo {
        position: absolute;
        right: 1.06667rem;
        top: 0.53333rem;
        width: 1.21333rem;
        height: 1.2rem;
        background-size: 100% 100%;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/logo.png); }
      .page-wrap .pages.page-home .logo-box .light {
        position: absolute;
        left: 0rem;
        top: -0.46667rem;
        width: 1.96rem;
        height: 1.88rem;
        background-size: 100% 100%;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/light.gif); }
    .page-wrap .pages.page-home .main-box {
      position: absolute;
      left: 0.93333rem;
      margin: auto;
      top: 5.06667rem;
      width: 7.73333rem;
      height: 6.77333rem;
      background-size: 100% 100%;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/mian_pic.png); }
      .page-wrap .pages.page-home .main-box .main-gif {
        position: absolute;
        top: -1.73333rem;
        left: -0.4rem;
        width: 8.8rem;
        height: 8.26667rem; }
    .page-wrap .pages.page-home .btn-start {
      position: absolute;
      cursor: pointer;
      left: 0rem;
      right: 0;
      margin: auto;
      top: 12.57333rem;
      width: 5.62667rem;
      height: 1.37333rem;
      background-size: 100% 100%;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/btn_start.png); }
      .page-wrap .pages.page-home .btn-start:active {
        width: 5.48rem;
        height: 1.28rem;
        opacity: 0.85; }
    .page-wrap .pages.page-1 .mun {
      position: absolute;
      height: 4rem;
      background-size: 100% auto;
      background-repeat: no-repeat; }
    .page-wrap .pages.page-1 .mun_1 {
      width: 2.16rem;
      top: 1.78667rem;
      left: 3.54667rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/1.png); }
      .page-wrap .pages.page-1 .mun_1 i {
        display: none;
        position: absolute;
        width: 1.41333rem;
        height: 1.12rem;
        left: 0;
        right: 0;
        margin: auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_err.png); }
    .page-wrap .pages.page-1 .mun_2 {
      width: 3.46667rem;
      top: 4.02667rem;
      left: 0.57333rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/818.png); }
      .page-wrap .pages.page-1 .mun_2 i {
        display: none;
        position: absolute;
        width: 2.4rem;
        height: 1.70667rem;
        left: 0;
        right: 0;
        margin: auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_success.png); }
    .page-wrap .pages.page-1 .mun_3 {
      width: 2.46667rem;
      top: 3.73333rem;
      left: 6.37333rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/700.png); }
      .page-wrap .pages.page-1 .mun_3 i {
        display: none;
        position: absolute;
        width: 1.41333rem;
        height: 1.12rem;
        left: 0;
        right: 0;
        margin: auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_err.png); }
    .page-wrap .pages.page-1 .mun_4 {
      width: 1.04rem;
      top: 6.6rem;
      left: 4.74667rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/237.png); }
      .page-wrap .pages.page-1 .mun_4 i {
        display: none;
        position: absolute;
        width: 1.41333rem;
        height: 1.12rem;
        left: 0;
        right: 0;
        margin: auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_err.png); }
    .page-wrap .pages.page-2 .peopleImg {
      width: 6.04rem;
      height: 5.02667rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/people.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: 0;
      bottom: 0;
      margin: auto 0; }
    .page-wrap .pages.page-2 .Tdrag_Box {
      overflow: hidden;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .page-wrap .pages.page-2 .Tdrag_Box .TdragActive {
        width: 1.8rem;
        height: 2.93333rem;
        left: 2rem;
        top: 1.33333rem;
        border: 1px solid transparent; }
      .page-wrap .pages.page-2 .Tdrag_Box .resumeImg_ {
        width: 1.36rem;
        height: 2.08rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/resume.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 3.33333rem;
        left: 6.49333rem;
        z-index: 2; }
      .page-wrap .pages.page-2 .Tdrag_Box .gk_page {
        width: 1.36rem;
        height: 2.06667rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gk_page.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 3; }
      .page-wrap .pages.page-2 .Tdrag_Box .page1 {
        top: 1.86667rem;
        left: 6.36rem;
        z-index: 1; }
      .page-wrap .pages.page-2 .Tdrag_Box .page2 {
        top: 2.73333rem;
        left: 4.73333rem; }
      .page-wrap .pages.page-2 .Tdrag_Box .page3 {
        top: 3.53333rem;
        left: 5.86667rem; }
      .page-wrap .pages.page-2 .Tdrag_Box .page4 {
        top: 3.53333rem;
        left: 8.13333rem; }
      .page-wrap .pages.page-2 .Tdrag_Box .page5 {
        top: 2.86667rem;
        left: 7rem; }
    .page-wrap .pages.page-3 .device-box {
      position: relative;
      width: 9.4rem;
      height: 5.72rem;
      margin: 0.4rem auto 0 auto;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/page3_devices.png);
      background-size: 100% 100%; }
      .page-wrap .pages.page-3 .device-box .leaf {
        position: absolute;
        left: 70%;
        top: 50%;
        width: 0.81333rem;
        height: 0.70667rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/page3_leaf.png);
        background-size: 100% 100%; }
    .page-wrap .pages.page-3 .control-box {
      position: absolute;
      top: 6.4rem;
      width: 100%; }
      .page-wrap .pages.page-3 .control-box .row_1 {
        position: relative;
        padding-left: 2.4rem;
        height: 0.86667rem; }
        .page-wrap .pages.page-3 .control-box .row_1 .btn {
          width: 0.57333rem;
          height: 0.73333rem;
          background-size: 100% 100%;
          vertical-align: middle;
          position: absolute;
          z-index: 1; }
        .page-wrap .pages.page-3 .control-box .row_1 .btn-small {
          display: inline-block;
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/page3_left.png);
          left: 2.66667rem; }
          .page-wrap .pages.page-3 .control-box .row_1 .btn-small:active {
            width: 0.53333rem;
            height: 0.68rem; }
        .page-wrap .pages.page-3 .control-box .row_1 .btn-text {
          position: absolute;
          display: inline-block;
          width: 2.8rem;
          text-align: center;
          font-size: 0.53333rem;
          color: #0071BC;
          vertical-align: middle;
          left: 3.06667rem; }
        .page-wrap .pages.page-3 .control-box .row_1 .state {
          position: absolute;
          width: 1.41333rem;
          height: 1.12rem;
          left: 3.8rem;
          margin: auto;
          background-size: 100% auto;
          background-repeat: no-repeat; }
          .page-wrap .pages.page-3 .control-box .row_1 .state.err {
            background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_err.png); }
          .page-wrap .pages.page-3 .control-box .row_1 .state.success {
            background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/gl_success.png); }
        .page-wrap .pages.page-3 .control-box .row_1 .btn-add {
          left: 5.73333rem;
          display: inline-block;
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/page3_right.png); }
          .page-wrap .pages.page-3 .control-box .row_1 .btn-add:active {
            width: 0.53333rem;
            height: 0.68rem; }
      .page-wrap .pages.page-3 .control-box .row_2 {
        text-align: center;
        margin-top: 0.10667rem;
        position: relative; }
        .page-wrap .pages.page-3 .control-box .row_2 .btn {
          display: inline-block;
          width: 1.96rem;
          height: 0.6rem;
          line-height: 0.6rem;
          background-color: #0071BC;
          border: 1px solid #7FB8DD;
          position: absolute;
          color: #fff;
          font-size: 0.34667rem; }
          .page-wrap .pages.page-3 .control-box .row_2 .btn:active {
            border: 2px solid #7FB8DD; }
          .page-wrap .pages.page-3 .control-box .row_2 .btn.btn-clear {
            left: 1.46667rem; }
          .page-wrap .pages.page-3 .control-box .row_2 .btn.btn-sure {
            left: 5.46667rem; }
    .page-wrap .pages.page-4 .gl-pass-box .gl-penguin {
      display: none; }
    .page-wrap .pages.page-4 .CBS {
      width: 4.14667rem;
      height: 2.97333rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/C_B_Screen.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      left: 0;
      right: 0;
      top: 1.33333rem;
      margin: 0 auto; }
    .page-wrap .pages.page-4 .computer {
      width: 4.14667rem;
      height: 2.97333rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/Computer.gif);
      background-repeat: no-repeat;
      background-size: 100% auto;
      left: 0;
      right: 0;
      top: 1.33333rem;
      margin: 0 auto;
      display: none; }
    .page-wrap .pages.page-4 .Table {
      width: 8.33333rem;
      height: 6.12rem;
      background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/Table.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      left: 0.4rem;
      right: 0;
      top: 2.2rem;
      margin: 0 auto; }
      .page-wrap .pages.page-4 .Table .flower {
        position: absolute;
        width: 0.86667rem;
        height: 1.6rem;
        right: 0;
        bottom: 0;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/flower.gif);
        background-size: 100% 100%; }
    .page-wrap .pages.page-4 .TouchArea {
      padding: 0.4rem; }
      .page-wrap .pages.page-4 .TouchArea .spot {
        width: 0.30667rem;
        height: 0.32rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/spot.png);
        background-repeat: no-repeat;
        background-size: 100% 100%; }
    .page-wrap .pages.page-4 .TouchAreaL {
      left: 2.74667rem;
      top: 4.82667rem; }
    .page-wrap .pages.page-4 .TouchAreaR {
      left: 5.33333rem;
      top: 7.57333rem; }
    .page-wrap .pages.page-5 .champagne-box {
      position: relative;
      height: 7.33333rem; }
      .page-wrap .pages.page-5 .champagne-box .champagne {
        position: absolute;
        width: 1.29333rem;
        height: 3.96rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/page5_champagne.png);
        background-size: 100% 100%; }
        .page-wrap .pages.page-5 .champagne-box .champagne.open {
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/page5_champagne_on.gif); }
        .page-wrap .pages.page-5 .champagne-box .champagne:nth-of-type(1) {
          top: -8%;
          left: 20%; }
        .page-wrap .pages.page-5 .champagne-box .champagne:nth-of-type(2) {
          top: -8%;
          left: 60%; }
        .page-wrap .pages.page-5 .champagne-box .champagne:nth-of-type(3) {
          top: 45%;
          left: 20%; }
        .page-wrap .pages.page-5 .champagne-box .champagne:nth-of-type(4) {
          top: 45%;
          left: 60%; }
    .page-wrap .pages.page-lottery .lottery-box {
      position: absolute;
      width: 100%;
      height: 16rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .page-wrap .pages.page-lottery .lottery-box .box {
        position: absolute;
        top: 0.93333rem;
        left: 0.93333rem;
        width: 8.33333rem;
        height: 4.04rem;
        z-index: 10;
        margin: auto;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_box.png);
        background-size: 100% 100%;
        /* .text2{
            position: absolute;
            left: px2rem(-10);
            top: px2rem(240);
            color: #FF7145;
            font-size: px2rem(26);
          }*/
        /*.hr{
            position: absolute;
            left: px2rem(558);
            top: px2rem(80);
            width: px2rem(86);
            height: px2rem(60);
            background-image: url("../images/page_lottery/lottery_hr.png");
            background-size: 100% 100%;
          }*/ }
        .page-wrap .pages.page-lottery .lottery-box .box .text {
          position: absolute;
          left: 1.66667rem;
          top: 0.4rem;
          width: 5.25333rem;
          height: 1.62667rem;
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_text.png);
          background-size: 100% 100%; }
        .page-wrap .pages.page-lottery .lottery-box .box .logo {
          position: absolute;
          left: 7.33333rem;
          top: 1.01333rem;
          width: 1.16rem;
          height: 1.14667rem;
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_logo.png);
          background-size: 100% 100%; }
        .page-wrap .pages.page-lottery .lottery-box .box .hot {
          position: absolute;
          left: -0.66667rem;
          top: -0.4rem;
          width: 2.2rem;
          height: 2.66667rem;
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_people.gif);
          background-size: 100% 100%; }
        .page-wrap .pages.page-lottery .lottery-box .box .des-box {
          position: absolute;
          top: 73%;
          left: -0.4rem;
          width: 8.26667rem;
          background-color: #036DB9;
          border-bottom-left-radius: 0.26667rem;
          border-bottom-right-radius: 0.26667rem;
          border-top-left-radius: 0.26667rem; }
          .page-wrap .pages.page-lottery .lottery-box .box .des-box .des-title {
            padding: 0.26667rem;
            color: #fff;
            font-size: 0.26667rem; }
          .page-wrap .pages.page-lottery .lottery-box .box .des-box .des-select {
            color: #fff;
            font-size: 0.26667rem;
            padding-left: 0.26667rem; }
            .page-wrap .pages.page-lottery .lottery-box .box .des-box .des-select .item {
              width: 50%;
              margin-bottom: 0.2rem; }
              .page-wrap .pages.page-lottery .lottery-box .box .des-box .des-select .item:nth-of-type(1), .page-wrap .pages.page-lottery .lottery-box .box .des-box .des-select .item:nth-of-type(2) {
                width: 100%; }
            .page-wrap .pages.page-lottery .lottery-box .box .des-box .des-select .select-box {
              width: 0.33333rem;
              vertical-align: middle; }
      .page-wrap .pages.page-lottery .lottery-box .line {
        position: absolute;
        top: 6.66667rem;
        left: 0.4rem;
        width: 9.08rem;
        height: 9.08rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_line.png);
        background-size: 100% 100%; }
      .page-wrap .pages.page-lottery .lottery-box .circle {
        position: absolute;
        top: 8rem;
        left: 1.66667rem;
        width: 6.61333rem;
        height: 6.61333rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_circle.png);
        background-size: 100% 100%; }
      .page-wrap .pages.page-lottery .lottery-box .go {
        position: absolute;
        top: 9.73333rem;
        left: 3.89333rem;
        width: 2.10667rem;
        height: 2.64rem;
        background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_go_gray.png);
        background-size: 100% 100%; }
        .page-wrap .pages.page-lottery .lottery-box .go.on {
          background-image: url(//cdn.m.tencent.com/hr/h5/2019/819/static/img/lottery_go.png); }

.gl-fs16 {
  font-size: 0.21333rem; }
